img,body,html{border:0;font-family: tahoma;font-size: 11px;}
table{font-family: tahoma;font-size: 11px;}

.x-horizontal-box-overflow-body{float:right}

.x-form-field,.x-form-display-field{float:right;margin:0 0 0 0;font:normal 12px tahoma, arial, verdana, sans-serif;color:black}
.x-form-trigger{background-image:url('../../resources/themes/rtl/trigger-rtl.gif');background-position: 0 0;width: 17px;height: 21px;border-bottom: 1px solid #b5b8c8;cursor: pointer;cursor: pointer; }
.x-form-clear-trigger{background-image:url('../../resources/themes/rtl/clear-trigger-rtl.gif')}
.x-form-date-trigger{background-image:url('../../resources/themes/rtl/date-trigger-rtl.gif')}
.x-form-search-trigger{background-image:url('../../resources/themes/rtl/search-trigger-rtl.gif')}
.x-form-trigger-wrap .x-form-spinner-down {background-image: url('../../resources/themes/rtl/spinner-rtl.gif');width: 17px !important;height: 11px !important;font-size: 0;border-bottom: 0; }
.x-form-trigger-wrap .x-form-spinner-up,.x-form-trigger-wrap .x-form-spinner-down {background-image: url('../../resources/themes/rtl/spinner-rtl.gif');}
.x-form-invalid-tip-body {background: right no-repeat;background-image: url('../../resources/themes/images/default/form/exclamation.gif');padding-right: 22px;padding-left: 2px; }
.x-form-check-group-label {color: #333;border-bottom: 1px solid #333;margin: 0 0 5px 30px;padding: 2px; }
.x-form-cb-label-before {margin-left: 4px; margin-right:0px;}
.x-form-cb-label-after {margin-right: 4px; margin-left:0px;}
.x-form-file-wrap .x-form-file-input {right:auto;left: -2px;}

.x-column-header-sort-ASC .x-column-header-text{padding-left:16px;background:no-repeat left 6px;background-image:url('../../resources/themes/images/default/grid/sort_asc.gif')}
.x-column-header-sort-DESC .x-column-header-text{padding-left:16px;background:no-repeat left 6px;background-image:url('../../resources/themes/images/default/grid/sort_desc.gif')}
.x-column-header-align-right .x-column-header-text{padding-right:0.5ex;margin-left:6px}
.x-column-header-trigger{left:0;right:auto;background-image:url('../../resources/themes/rtl/grid3-hd-btn-rtl.gif');}
.x-column-header-inner .x-column-header-text {  white-space: normal; }

.x-grid-editor .x-form-trigger-wrap .x-form-spinner-up, .x-grid-editor .x-form-trigger-wrap .x-form-spinner-down, .x-grid-row-editor .x-form-trigger-wrap .x-form-spinner-up, 
.x-grid-row-editor .x-form-trigger-wrap .x-form-spinner-down {background-image: url('../../resources/themes/rtl/spinner-small-rtl.gif');height: 10px !important; }
.x-grid-editor .x-form-trigger-wrap .x-form-spinner-up, .x-grid-editor .x-form-trigger-wrap .x-form-spinner-down, .x-grid-row-editor .x-form-trigger-wrap .x-form-spinner-up, 
.x-grid-row-editor .x-form-trigger-wrap .x-form-spinner-down {background-image: url('../../resources/themes/rtl/spinner-small-rtl.gif');}
.x-grid3-header {background-color:#f9f9f9;background-image:url(/generalUI/resources/images/default/grid/grid3-hrow.gif);}
.x-grid-row-editor {overflow-x: hidden; overflow-y: visible}
.x-grid-cell-inner{ white-space: normal;}

.x-field-default-toolbar .x-form-trigger-wrap .x-form-spinner-up,
.x-field-default-toolbar .x-form-trigger-wrap .x-form-spinner-down {background-image: url('../../resources/themes/rtl/spinner-small-rtl.gif');}

.x-column-header-inner{padding: 0px 0px 0px 6px;}
.x-column {float: right;}
.x-menu-icon-separator{right:27px;left:auto}
.x-menu-item-icon{left:auto;right:4px;top:auto;}
.x-menu-item-link{padding:6px 32px 3px 2px;}
.x-menu-item-arrow {right: auto;left:0px;background: no-repeat center center;background-image: url('../../resources/themes/rtl/menu-parent-rtl.gif'); }
.x-menu-item-text{font-family:tahoma;}
.x-external-error-icon {position:relative;right: 10px;height: 22px; }

.x-tab-close-btn{left: 2px;right:auto;}
.x-tab button .x-tab-icon, .x-tab a .x-tab-icon{right:0px;left : auto;}
.x-tab em {padding-left:6px;padding-right:0px;}
.x-tab-closable em {padding-left: 14px; padding-right: 0px;}
.x-tab-icon-text-right .x-tab-inner {padding-right: 20px; padding-left:0px}

.x-box-scroller-left {float: right;}
.x-box-scroller-left .x-toolbar-scroll-left,.x-box-scroller-left .x-tabbar-scroll-left {background-image: url('../../resources/themes/images/default/tab-bar/scroll-right.gif'); }
.x-box-scroller-left .x-toolbar-scroll-left {background-image: url('../../resources/themes/images/default/toolbar/scroll-right.gif');  background-position: -14px 0; }
.x-box-scroller-right {float: left;}
.x-box-scroller-right .x-toolbar-scroll-right,.x-box-scroller-right .x-tabbar-scroll-right {background-image: url('../../resources/themes/images/default/tab-bar/scroll-left.gif'); }
.x-box-scroller-right .x-toolbar-scroll-right {  background-image: url('../../resources/themes/images/default/toolbar/scroll-left.gif'); }
.x-box-inner {left:auto; right:0px; /*float:right;*/}

.x-tree-lines .x-tree-elbow {background-image: url('../../resources/themes/rtl/elbow-rtl.gif'); }
.x-tree-lines .x-tree-elbow-end {background-image: url('../../resources/themes/rtl/elbow-end-rtl.gif'); }
.x-tree-lines .x-tree-elbow-plus {background-image: url('../../resources/themes/rtl/elbow-plus-rtl.gif'); }
.x-tree-lines .x-tree-elbow-end-plus {background-image: url('../../resources/themes/rtl/elbow-end-plus-rtl.gif'); }
.x-tree-lines .x-grid-tree-node-expanded .x-tree-elbow-plus {background-image: url('../../resources/themes/rtl/elbow-minus-rtl.gif'); }
.x-tree-lines .x-grid-tree-node-expanded .x-tree-elbow-end-plus {background-image: url('../../resources/themes/rtl/elbow-end-minus-rtl.gif'); }
.x-tree-lines .x-tree-elbow-line {background-image: url('../../resources/themes/rtl/elbow-line-rtl.gif'); }
.x-tree-no-lines .x-tree-elbow-plus,.x-tree-no-lines .x-tree-elbow-end-plus {background-image: url('../../resources/themes/rtl/elbow-plus-nl-rtl.gif'); }
.x-tree-no-lines .x-grid-tree-node-expanded .x-tree-elbow-plus,
.x-tree-no-lines .x-grid-tree-node-expanded .x-tree-elbow-end-plus {background-image: url('../../resources/themes/rtl/elbow-end-minus-nl-rtl.gif'); }
.x-tree-arrows .x-tree-elbow-plus,.x-tree-arrows .x-tree-elbow-minus,.x-tree-arrows .x-tree-elbow-end-plus,
.x-tree-arrows .x-tree-elbow-end-minus {background-image: url('../../resources/themes/rtl/arrows-rtl.gif'); }

.x-btn-arrow-left {background-position: left center;padding-left: 12px; }
.x-btn-arrow-left .x-btn-inner {  padding-left: 0 !important; }
.x-toolbar .x-btn-arrow-left {padding-left: 12px; }

.x-panel-body {position: relative;}
.x-panel-body-default-framed {background-color: white;}
/*.x-panel-default-framed{background-color: white;}*/
.x-fieldset-header{font-family:tahoma;}
.x-form-item {margin-bottom: 0px}
.x-form-field,.x-form-display-field {margin: 0 0 5px 0;}
.x-form-text{margin-bottom: 5px;}

.x-grid-row-summary  td{font-weight : bold; background-color : #eeefff; border : 1px solid #99BCE8;
	height: 21px; text-align: center;}
/*-------------------------------------------------------------------------*/
.search-item{cursor:pointer;font:normal 11px tahoma, arial, helvetica, sans-serif;padding:3px 10px 3px 10px;border:1px solid #fff;border-bottom:1px solid #eee;white-space:normal;color:#555}
.search-item h3 {display: block;font: inherit;font-weight: bold;color: #222;}
.search-item h3 span {float: right;font-weight: normal;margin:0 0 5px 5px;width: 100px;clear: none;}

.panel{border-color:#99BBE8;border-style:solid;border-width:1px;padding:5px}
.button{font:normal 12px tahoma,verdana,helvetica;width:80px;height:24px;padding-bottom:4px}
.big_button{font:normal 12px tahoma,verdana,helvetica;width:110px;height:24px;padding-bottom:4px}
.imgbutton{border:0px;cursor:hand;width:16px;height:16px}

.x-grid-preview-body { color : blue;} 

@media print {
	.noprint{display:none;}
}
.pageBreak {page-break-after:always;height:1px;}
