/*
//---------------------------
// programmer:	Sh.Jafarkhani
// Date:		94.12
//---------------------------
*/

@font-face{font-family:'IranNastaliq';src:url('/generalUI/fonts/IranNastaliq.ttf');font-weight:normal;font-style:normal}
@font-face{font-family:'BNazanin';src:url('/generalUI/fonts/BNazanin.ttf');font-weight:normal;font-style:normal}
@font-face{font-family:'BTitr';src:url('/generalUI/fonts/BTitrBd.ttf');font-weight:normal;font-style:normal}
@font-face{font-family:'Homa';src:url('/generalUI/fonts/BHoma.ttf');font-weight:normal;font-style:normal}