/*
//---------------------------
// programmer:	Sh.Jafarkhani
// Date:		94.12
//---------------------------
*/

@font-face{font-family:'IranNastaliq';src:url('/generalUI/fonts/IranNastaliq.ttf');font-weight:normal;font-style:normal}
@font-face{font-family:'Nazanin';src:url('/generalUI/fonts/Nazanin.ttf');font-weight:normal;font-style:normal}
@font-face{font-family:'Titr';src:url('/generalUI/fonts/BTitrBd.ttf');font-weight:normal;font-style:normal}
@font-face{font-family:'Homa';src:url('/generalUI/fonts/BHoma.ttf');font-weight:normal;font-style:normal}
@font-face{font-family:'irsans';src:url('/generalUI/fonts/irsans.ttf');font-weight:normal;font-style:normal}